@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.react-grid-item {
  -ms-touch-action: initial !important;
  touch-action: auto !important;
}

.react-grid-item:hover .react-resizable-handle {
  visibility: visible;
}

.panel-in-fullscreen .react-grid-layout {
  height: 90% !important;
}

.panel-in-fullscreen .react-grid-item {
  display: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

.panel-in-fullscreen .react-grid-item--fullscreen {
  display: block !important;
  position: unset !important;
  width: 100% !important;
  height: 100% !important;
  -webkit-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
  transform: translate(0) !important;
}

.panel-in-fullscreen .dashboard-container--has-submenu .react-grid-layout {
  height: -webkit-calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
}

.panel-height-helper {
  display: block;
  height: 100%;
}

.panel-wrapper {
  height: 100%;
  position: relative;
}

.panel-wrapper--view {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  height: 90%;
}

.panel-container {
  width: 100%;
  height: 100%;
  display: "flex";
  flex: 1 1 0;
  flex-direction: column;
}

.panel-content {
  width: 100%;
  height: calc(100%-28px);
  flex-grow: 1;
}

.dashboard-container {
  // position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  flex: 1 1 0;
  flex-direction: column;
}

.top5-items {
  position: "relative";
  display: "table";
  width: "100%";
  height: "calc(100% - 24px)";
}

.top5-item {
  display: "table-cell";
  vertical-align: "middle";
  text-align: "center";
  position: "relative";
  z-index: 100;
}

.react-resizable-handle,
.react-resizable-handle-se {
  z-index: 1000;
}
